.banner__titulo{
    font-family:'Press Start 2P', cursive;
    text-align: center;
    font-size: 60px;

    position: absolute;
    left: 50%;
    top: 30%;

    transform: translateX(-50%) translateY(-50%);
}