.banner__botao{
    text-align: center;
    background: none;
    margin-top: 10px;

    position: absolute;
    left: 50%;
    top: 40%;
    border: 1px solid black;
    border-radius: 40px;
    padding: 10px;
    transform: translateX(-50%) translateY(-50%);
}

.banner__botao:hover{
    cursor: pointer;
    color:black;
    font-weight: bold; 
}